body {
	font-family: monospace;
	height: 60%;

}
.container-sm {
	padding: 3rem;
	height: max-content;
}
.footer {
	background-color: #242433;
	height: 6rem;
	text-align: center;
	padding: 2rem;
	color: white;
}
/* lista de clientes*/
h1,h2 {
	text-align: center;
	margin-top: 2rem;
}
.table {
	margin: 2rem;
}
th, td {
	text-align: center;
}

/* editar y nuevo clientes */

#card-edit {
	margin: auto;
	width: 60%;
}
#content-edit {
	height: max-content;
	margin: 2rem;
}
#form-edit {
	margin: auto;
}
.in-edit {
	padding: 0.5rem;
}

.btn-nuevo {
	float: right;
	width: 10rem;

}
